<container [fluid]="fluid">
    <row>
        <column sm="4">One of three column</column>
        <column sm="4">One of three column</column>
        <column sm="4">One of three column</column>
    </row>
    <row>
        <column xs="12">
            <button (click)="change()" >test</button>
        </column>
    </row>
    <row>
        <column xs="12">
            <media>
                <media-left verticalAlignment="middle">
                    <a href="#">
                        <img class="media-object" src="http://v4-alpha.getbootstrap.com/layout/media-object/#" alt="Generic placeholder image">
                    </a>                    
                </media-left>
                <media-body>
                    <h4 class="media-heading">Media heading</h4>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                    <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                    
                </media-body>
                <media-right verticalAlignment="bottom">
                    <a href="#">
                        <img class="media-object" src="..." alt="Generic placeholder image">
                    </a>                    
                </media-right>
            </media>
        </column>
    </row>    
  
</container>